<div class="container">
	<footer class="footor">
		<small>
			Copyright &copy; <a href=""> The First Application For Me</a>
			Created By: <a href="">Mohamed Gad</a>
		</small>
		<nav>
			<ul>
				<li>
					<%= link_to'About', about_path %>
				</li>
			</ul>
		</nav>
	</footer>
</div>